@model IEnumerable<BaiTapAsp.Models.DongNhac>

@{
	ViewBag.Title = "Danh sách dòng nhạc";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách dòng nhạc</h2>

<p>
	@Html.ActionLink("Create New", "Create", new { @class = "btn" })
	<h2 class="text-danger">@TempData["err"]</h2>
</p>
@using (Html.BeginForm("Index", "DongNhac", FormMethod.Get))
{
	<div style="margin-left:850px;">
		<input type="text" name="q" class="form-control" placeholder="Nhập tên dòng nhạc" />
		<input type="submit" value="Tìm Kiếm" class="btn" />
	</div>
}
<br />

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenDongNhac)
                </th>
                <th>Hành động</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDongNhac)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
        });
    });
</script>