@using BaiTapAsp.Models
@model BaiHat

@{
    ViewBag.Title = "addBH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>addBH</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BaiHat</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id_nhacsi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Id_dongnhac">
                    @foreach (var item in ViewBag.DongNhac)
                    {
                        <option value="@item.Id">@item.Ten_dongnhac</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Id_nhacsi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_dongnhac, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Id_dongnhac">
                    @foreach (var item in ViewBag.DongNhac)
                    {
                        <option value="@item.Id">@item.Ten_dongnhac</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Id_dongnhac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ten_bai_hat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ten_bai_hat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ten_bai_hat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayDang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LuotNghe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LuotNghe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LuotNghe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "showBH")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
