@model IEnumerable<BaiTapAsp.ModelShow.BaiHatShow>

@{
    ViewBag.Title = "showBH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Hiển thị bài hát</h2>

<p>
    @Html.ActionLink("Thêm bài hát mới", "addBH", new { @class = "btn" })
</p>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="table" style="width:100%" cellpadding="1">
            <thead>
                <tr>
                    <th>
                        Tên bài hát
                    </th>
                    <th>
                        Tên nhạc sĩ
                    </th>
                    <th>
                        Tên dòng nhạc
                    </th>
                    <th>
                        Ngày đăng
                    </th>
                    <th>
                        Lượt nghe
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten_bai_hat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten_NhacSi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten_DongNhac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayDang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LuotNghe)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "editBH", new { id = item.Id }, new { @class = "btn" }) |
                            @Html.ActionLink("Delete", "deleteBH", new { id = item.Id }, new { @class = "btn" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
        <script>
            $(document).ready(function () {
                $('#table').DataTable({
                });
            });
        </script>
